@import 'https://fonts.googleapis.com/css?family=Bungee+Shade';
@import 'https://fonts.googleapis.com/css?family=Bungee+Inline';
$background: #ffffff;
$font-color: #000000;
$title-font: 'Bungee Shade', sans-serif;
$font: 'Bungee Inline', sans-serif;

html {
  background: $background;
  font-family: $font;
  color: $font-color;
  text-transform: uppercase;
}

header {
  text-align: center;
}

body {
  margin: auto;
  max-width:660px;
  height: auto !important;
  padding: 1rem;
  line-height: 2;
}

h1 {
  font-family: $title-font;
  letter-spacing: .1em;
}

p {
  letter-spacing: .4em;
}

#github {
  position: absolute;
  height: 1.5em;
  width: 1.5em;
  right: 0;
  bottom: 0;
  padding: 0.5em;
}
